---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body id="posts" class="inner-post-page">

    <div class="block-left">
      <div class="content">
        <a href="{{ site.url }}" class="logo"><img src="{{ site.url }}/images/{{ site.logo }}" alt="Blog-logo"></a>
        <div class="post-title-section">
          <div class="section-line">{{ page.section_name }} <em>/</em></div>
          <h1 class="section-title">{{ page.section_title }}</h1>
          <div class="section-line reverse"><a href="{{ site.url }}">Back to Home</a> <em>/</em></div>
        </div>
      </div>
    </div>

    <div class="block-right">
        {% include menu-links.html %}
        <span></span>
      </a>
      <div id="about-content" class="inner-post content">
        {{ content }}
      </div>
    </div>
    {% include scripts.html %}
    {% include overlay.html %}
</body>
</html>
